# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json

name: "Release"
# on:
#   push:
#     tags:
#       - '*'

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:

      - name: Checking out
        uses: actions/checkout@v3

      - name: Find and Replace
        uses: thiagodnf/string-replacer@v1.0.2
        with:
          find: "generic"
          replace: "teste"
          include: |
            **/README.md
          
      - uses: stefanzweifel/git-auto-commit-action@v4

      - name: Push changes
        uses: ad-m/github-push-action@v0.6.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: ${{ github.ref }}